// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Colours

$paleBlue: #e5eeff;
$lightBlue: #80aaff;
$blue: royalblue;
$darkBlue: #1a3ca2;

$paleOrange: #ffdfbf;
$orange: #ff8200;

$darkRed: #c00;
$red: red;
$pink: #ffe5f2;

$paleGreen: #e5ffe5;
$paleYellow: #ffffe5;

$darkGrey: #222;
$grey2: #444;
$grey: #777;
$paleGrey: #eee;

////////////////////////////////////////////////////////////////////////////////////////////////////
// Elements

body {
  margin-top: 0;
  background-color: $darkGrey;
  //background-image: url('../images/blueprint-texture.jpg');
  background-repeat: repeat;

  @media (min-width: 768px) {
    margin-top: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $darkRed;
}

a {
  color: $darkRed;

  &:link,
  &:visited {
    color: $darkRed;
  }

  &:active,
  &:focus,
  &:hover {
    color: $darkBlue;
    text-decoration: none;
  }
}

ol,
ul {
  padding-left: 30px;
}

sup,
sub {
  line-height: 0;
  font-size: 10px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Container

.main-container {
  background-color: white;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Header

.page-header {
  margin: 15px 0;
  padding: 0;
}

#header {
  padding: 0;
  //background-color: $paleGrey;
  color: black;

  #branding {
    display: block;

    img {
      margin-top: 10px;
    }

    .navbar-text {
      font-size: 20px;
      float: none;
      font-style: italic;
      margin: 10px;
    }
  }

  nav {
    background-color: $grey2;

    .navbar-nav {
      float: none;
      display: block;
      margin: 0;

      a {
        font-weight: bold;
        color: white;

        &.is-active {
          background-color: $darkRed;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $darkBlue;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Footer

.footer {
  //background-color: $darkGrey;
  color: white;
  margin-bottom: 20px;

  a,
  .nav > li > a {
    display: inline-block;
    color: $darkRed;

    &:hover {
      color: $red;
    }
  }

  #block-imrs {
    .field--name-body {
      > a {
        display: block;
        text-align: center;
      }

      img {
        width: 480px;
        max-width: 100%;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Navigation

// Main contents menu in the left sidebar.
#block-bookcontents {
  > ul {
    margin-bottom: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    li {
      margin-left: 15px;
    }
  }

  a {
    display: block;
    padding: 2px 4px;
    border-radius: 2px;

    &:hover {
      background-color: $paleGrey;
      color: $darkBlue;
    }

    &.current-page {
      background-color: $paleGrey;
    }

    &.unpublished-page {
      color: silver;
    }
  }
}

nav.tabs {
  margin: 15px 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Sections

#content {
  background-color: white;
  padding: 15px;

  .field--name-body {
    margin: 0 0 15px;

    img {
      text-align: center;
      margin: 0 auto 10px;
      max-width: 66.667%;
    }

    li {
      margin: 10px 0;
    }

    table {
      margin: 10px auto;
    }

    caption {
      font-style: italic;
      color: black;
    }

    td,
    th {
      border: solid 1px silver;
      padding: 5px;
    }

    thead tr,
    th {
      font-weight: bold;
      background-color: $paleBlue;
    }

    tfoot tr {
      font-weight: bold;
      background-color: $paleOrange;
    }
  }
}

#left-sidebar,
#right-sidebar {
  .block {
    padding: 20px 0;
    border-bottom: solid 1px $darkRed;

    .field--name-body {
      margin-bottom: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

#left-sidebar {
  border-right: solid 1px $darkRed;
}

#right-sidebar {
  border-left: solid 1px $darkRed;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Blocks

//#block-mdc-main-menu {
//  margin: 0 10px;
//
//  > ul {
//    background-color: $darkBlue;
//    width: 100%;
//
//    a {
//      color: white;
//    }
//
//    > li > a.is-active {
//      background-color: $blue;
//    }
//
//    > li > a:hover,
//    > li > a:focus {
//      background-color: $red;
//    }
//  }
//}

#block-booknavigation {
  margin: 15px 0;

  > h2 {
    display: none;
  }

  nav > ul {
    padding-left: 0;
    list-style-type: none;

    > li > a {
      font-weight: bold;
    }
  }
}

#block-mdc-search {
  .form-group {
    margin: 0;
  }
}

#block-imrs {
  img {
    width: 100%;
  }
}

#block-copyrightnotice {
  margin: 15px 0;
}

#block-mdc-socialicons {
  padding-bottom: 10px !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Book pages

// Appears at the bottom of a book page.
.book-nav {
  background-color: $paleGrey;
  padding: 5px;
  @include border-radius(5px);
  margin-bottom: 15px;

  table {
    width: 100%;
  }

  .prev-page {
    text-align: left;
  }

  .up-page {
    text-align: center;
  }

  .next-page {
    text-align: right;
  }
}

.page-header {
  margin-bottom: 5px;
  border-bottom: none;
}

article.book {
  margin: 5px 0 15px 0;
}

.author {
  font-size: .8em;
  color: $grey;
  margin-bottom: 15px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Tables

caption {
  font-style: italic;
}

tr.terrestrial {
  font-weight: bold;
  background-color: $paleGreen;
}

tr.satellite {
  background-color: $pink;
}

tr.dwarf {
  font-style: italic;
  background-color: $paleYellow;
}

tr.major {
  background-color: $paleGreen;
}

tr.minor {
  background-color: $paleYellow;
}

td.num,
th.num {
  text-align: right;
}

tr.hydrogen {
  background-color: $paleYellow;
}

tr.helium {
  background-color: $pink;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Figures

figure {
  text-align: center;
  margin: 0 auto 10px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Buttons

.btn-primary {
  background-color: $darkRed;
  border-color: $darkRed;

  &:hover {
    background-color: $darkBlue;
    border-color: $darkBlue;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Miscellaneous

.breadcrumb {
  background-color: transparent;
}

.logo {
  //float: none !important;

  img {
    width: 100%;
  }
}

.alert {
  margin: 15px 0;
}

ol.breadcrumb {
  margin: 15px 0;
  padding: 0;
}

ul.links {
  margin: 25px 0 5px;
}

#social-icons {
  margin: 10px 0;

  p {
    margin: 0;
  }

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px 2px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.math {
  margin-left: 20px;
}

span.tab {
  display: inline-block;
  width: 50px;
}
