// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Colours

$paleBlue: #e5eeff;
$lighterBlue: #80aaff;
$lightBlue: #05f;
$darkBlue: #000040;
$paleOrange: #ffdfbf;
$orange: #ff8200;
$red: #c00;
$pink: #ffe5f2;
$paleGreen: #e5ffe5;
$paleYellow: #ffffe5;

////////////////////////////////////////////////////////////////////////////////////////////////////
// Elements

body {
  background-color: $darkBlue;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
}

a {
  color: $lightBlue;

  &:active,
  &:focus,
  &:visited {
    color: $lightBlue;
  }

  &:hover {
    color: $lightBlue;
    text-decoration: underline;
  }
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

sup,
sub {
  line-height: 0;
  font-size: 10px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Header

.page-header {
  margin: 15px 0;
  padding: 0;
}

#header {
  padding: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Footer

.footer {
  background-color: $darkBlue;
  color: white;

  a,
  .nav > li > a {
    color: $lighterBlue;
    display: inline-block;

    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
}

//// Paragraphs.
//p:last-child,
//.form-group:last-child,
//.panel:last-child {
//  margin-bottom: 0;
//}
//
//// Help region.
//.region-help {
//  > .glyphicon {
//    font-size: $font-size-large;
//    float: left;
//    margin: -0.05em 0.5em 0 0;
//  }
//  .block {
//    overflow: hidden;
//  }
//}
//
//.help-block,
//.control-group
//.help-inline {
//  color: $gray-light;
//  font-size: 12px;
//  margin: 5px 0 10px;
//  padding: 0;
//  &:first-child {
//    margin-top: 0;
//  }
//}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Blocks

#block-mdc-main-menu {
  margin-left: 10px;

  > ul {
    background-color: $darkBlue;
    width: 100%;

    a {
      color: white;
    }

    > li > a.is-active {
      background-color: $lightBlue;
    }

    > li > a:hover,
    > li > a:focus {
      background-color: $red;
    }
  }
}

#block-booknavigation {
  margin: 15px 0;

  > h2 {
    display: none;
  }

  nav > ul {
    padding-left: 0;
    list-style-type: none;

    > li > a {
      font-weight: bold;
    }
  }
}

#block-mdc-search {
  .form-group {
    margin: 0;
  }
}

#block-bookcontents {
  > ul {
    margin-bottom: 0;
  }

  .top-page {
    font-weight: bold;
  }

  .current-page {
    color: $red;
    font-weight: bold;
  }

  .unpublished-page {
    color: silver;
  }

  a:hover {
    color: red;
  }
}

#block-imrs {
  img {
    width: 100%;
  }
}

#block-copyrightnotice {
  margin: 15px 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Sections

#branding {
  display: block;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

#left-sidebar {
  background-color: $paleBlue;
  border-radius: 10px 0 0 10px;

  .block {
    padding: 20px 0;
    border-bottom: solid 1px $lighterBlue;

    .field--name-body {
      margin-bottom: 0;
    }
  }
}

#content {
  background-color: white;
  border-radius: 0 10px 10px 0;

  .field--name-body {
    margin: 0 0 15px;

    img {
      margin: auto;
      max-width: 100%;
    }

    li {
      margin: 10px 0;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Chunks

.author {
  display: none;
}

.book-nav {
  background-color: $paleBlue;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;

  table {
    width: 100%;
  }

  .prev-page {
    text-align: left;
  }

  .up-page {
    text-align: center;
  }

  .next-page {
    text-align: right;
  }
}

.breadcrumb {
  background-color: transparent;
}

.logo {
  display: inline-block;
  width: 50%;
  padding-left: 15px;
  float: none !important;

  img {
    width: 100%;
  }
}

.alert {
  margin: 15px 0;
}

ol.breadcrumb {
  margin: 15px 0;
  padding: 0;
}

ul.links {
  margin: 25px 0 5px;
}

#social-icons {
  margin: 10px 0;

  p {
    margin: 0;
  }

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px 2px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

nav.tabs {
  margin: 15px 0;
}

article.book {
  margin: 15px 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Tables

.field--name-body {
  table {
    margin: 10px auto;
  }

  caption {
    color: black;
    font-style: italic;
  }

  td,
  th {
    border: solid 1px silver;
    padding: 5px;
  }

  thead tr,
  th {
    font-weight: bold;
    background-color: $paleBlue;
  }

  tfoot tr {
    font-weight: bold;
    background-color: $paleOrange;
  }
}

tr.terrestrial {
  font-weight: bold;
  background-color: $paleGreen;
}

tr.satellite {
  background-color: $pink;
}

tr.dwarf {
  font-style: italic;
  background-color: $paleYellow;
}

tr.major {
  background-color: $paleGreen;
}

tr.minor {
  background-color: $paleYellow;
}

td.num,
th.num {
  text-align: right;
}

tr.hydrogen {
  background-color: $paleYellow;
}

tr.helium {
  background-color: $pink;
}
