// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Colours

$paleBlue: #e5eeff;
$lighterBlue: #80aaff;
$lightBlue: #05f;
$darkBlue: #000040;
$paleOrange: #ffdfbf;
$orange: #ff8200;
$red: #c00;
$pink: #ffe5f2;
$paleGreen: #e5ffe5;
$paleYellow: #ffffe5;

////////////////////////////////////////////////////////////////////////////////////////////////////
// Elements

body {
  margin-top: 0;
  background-image: url("../images/stars-tileable.jpg");

  @media (min-width: 768px) {
    margin-top: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
}

a {
  color: $lightBlue;

  &:active,
  &:focus,
  &:visited {
    color: $lightBlue;
  }

  &:hover {
    color: $lightBlue;
    text-decoration: underline;
  }
}

ol,
ul {
  padding-left: 30px;
}

sup,
sub {
  line-height: 0;
  font-size: 10px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Background

#background-layer {
  background-image: url("../images/hires-Mars-transparent-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Header

.page-header {
  margin: 15px 0;
  padding: 0;
}

#header {
  padding: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Footer

.footer {
  color: white;

  a,
  .nav > li > a {
    display: inline-block;

    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Blocks

#block-mdc-main-menu {
  margin: 0 10px;

  > ul {
    background-color: $darkBlue;
    width: 100%;

    a {
      color: white;
    }

    > li > a.is-active {
      background-color: $lightBlue;
    }

    > li > a:hover,
    > li > a:focus {
      background-color: $red;
    }
  }
}

#block-booknavigation {
  margin: 15px 0;

  > h2 {
    display: none;
  }

  nav > ul {
    padding-left: 0;
    list-style-type: none;

    > li > a {
      font-weight: bold;
    }
  }
}

#block-mdc-search {
  .form-group {
    margin: 0;
  }
}

#block-bookcontents {
  > ul {
    margin-bottom: 0;
  }

  .top-page {
    font-weight: bold;
  }

  .current-page {
    color: $red;
    font-weight: bold;
  }

  .unpublished-page {
    color: silver;
  }

  a:hover {
    color: red;
  }
}

#block-imrs {
  img {
    width: 100%;
  }
}

#block-copyrightnotice {
  margin: 15px 0;
}

#block-mdc-socialicons {
  padding-bottom: 10px !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Sections

#branding {
  display: block;

  img {
    margin-top: 10px;
  }

  .navbar-text {
    font-size: 20px;
    color: white;
    font-style: italic;
    margin: 0 0 10px;
  }
}

#left-sidebar,
#right-sidebar {
  background-color: $paleBlue;

  .block {
    padding: 20px 0;
    border-bottom: solid 1px $darkBlue;

    .field--name-body {
      margin-bottom: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: 768px) {
  #left-sidebar {
    @include border-radius(10px 0 0 10px);
  }

  #right-sidebar {
    @include border-radius(0 10px 10px 0);
  }
}

#content {
  background-color: white;
  padding: 15px;

  .field--name-body {
    margin: 0 0 15px;

    img {
      text-align: center;
      margin: 0 auto 10px;
      max-width: 100%;
    }

    li {
      margin: 10px 0;
    }

    table {
      margin: 10px auto;
    }

    caption {
      font-style: italic;
      color: black;
    }

    td,
    th {
      border: solid 1px silver;
      padding: 5px;
    }

    thead tr,
    th {
      font-weight: bold;
      background-color: $paleBlue;
    }

    tfoot tr {
      font-weight: bold;
      background-color: $paleOrange;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Table styles

tr.terrestrial {
  font-weight: bold;
  background-color: $paleGreen;
}

tr.satellite {
  background-color: $pink;
}

tr.dwarf {
  font-style: italic;
  background-color: $paleYellow;
}

tr.major {
  background-color: $paleGreen;
}

tr.minor {
  background-color: $paleYellow;
}

td.num,
th.num {
  text-align: right;
}

tr.hydrogen {
  background-color: $paleYellow;
}

tr.helium {
  background-color: $pink;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Miscellaneous

.author {
  display: none;
}

.book-nav {
  background-color: $paleBlue;
  padding: 5px;
  @include border-radius(5px);
  margin-bottom: 15px;

  table {
    width: 100%;
  }

  .prev-page {
    text-align: left;
  }

  .up-page {
    text-align: center;
  }

  .next-page {
    text-align: right;
  }
}

.breadcrumb {
  background-color: transparent;
}

.logo {
  float: none !important;

  img {
    width: 100%;
  }
}

.alert {
  margin: 15px 0;
}

ol.breadcrumb {
  margin: 15px 0;
  padding: 0;
}

ul.links {
  margin: 25px 0 5px;
}

#social-icons {
  margin: 10px 0;

  p {
    margin: 0;
  }

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px 2px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

nav.tabs {
  margin: 15px 0;
}

article.book {
  margin: 15px 0;
}

.math {
  margin-left: 20px;
}

span.tab {
  display: inline-block;
  width: 50px;
}

figure {
  text-align: center;
  margin: 0 auto 10px;
}

figcaption {
  text-align: center;
}
