/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */

#social-icons {
  margin: 15px 0 20px;
}

#social-icons img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  vertical-align: bottom;
}

span.tab {
  display: inline-block;
  width: 2.9375rem;
}

.node--type-book table {
  margin: 10px auto;
}

sup, sub {
  line-height: 0;
  font-size: 0.75rem;
}

tr:hover {
  background-color: transparent;
}

.node--type-book thead tr,
.node--type-book th {
  font-weight: bold;
  background-color: #bfdfff; /* blue */
}

.node--type-book tfoot tr {
  font-weight: bold;
  background-color: #ffdfbf; /* orange */
}

tr.terrestrial {
  font-weight: bold;
  background-color: #e5ffe5; /* green */
}

tr.satellite {
  background-color: #ffe5f2; /* pink */
}

tr.dwarf {
  font-style: italic;
  background-color: #ffffe5; /* yellow */
}

tr.major {
  background-color: #e5ffe5; /* green */
}

tr.minor {
  background-color: #ffffe5; /* yellow */
}

td.num,
th.num {
  text-align: right;
}

.field-node--body li {
  margin: 0.875rem 0;
}

tr.hydrogen {
  background-color: #ffffe5;
}

tr.helium {
  background-color: #ffe5f2;
}
