/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */

#social-icons {
  margin: 15px 0 20px;
}

#social-icons img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  vertical-align: bottom;
}

span.tab {
  display: inline-block;
  width: 2.9375rem;
}

.node--type-book table {
  margin: 10px auto;
}

.node--type-book thead tr {
  font-weight: bold;
  background-color: #bfdfff;
}

.node--type-book tfoot tr {
  font-weight: bold;
  background-color: #ffdfbf;
}

sup, sub {
  line-height: 0;
  font-size: 0.75rem;
}

tr:hover {
  background-color: transparent;
}

tr.terrestrial {
  font-weight: bold;
  background-color: #e5ffe5;
}

tr.satellite {
  background-color: #ffe5f2;
}

tr.dwarf {
  font-style: italic;
  background-color: #ffffe5;
}

td.num,
th.num {
  text-align: right;
}
